name: Combine
on:
  pull_request:
    types: [ opened, labeled, unlabeled ]
    
permissions: write-all
  
jobs:
  combine:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event.label.name == 'experiment' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: thibaultduponchelle/combine-pull-requests@push_change_branch
        with:
          label: experiment
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          
      - run: sudo chown runner:docker -R .
      - run: sudo chmod 755 * -R
      - run: sudo chmod 755 .* -R
      - run: rm * -rf
      
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Create pull request
        uses: devops-infra/action-pull-request@v0.4.1
        with:
          github_token: ${{ secrets.TOKEN }}
          title: Combine!
          body: ""
          source_branch: combine/experiment
          target_branch: main
          template: .github/PULL_REQUEST_TEMPLATE.md
